<form [formGroup]="loginForm" (ngSubmit)="login()">
  <div class="col-6">
    <input type="text" formControlName="username" placeholder="Username" class="form-control m-3">
    <input type="password" formControlName="password" placeholder="Password" class="form-control m-3">
    <re-captcha (resolved)="onRecaptchaResolved($event)" siteKey="6Lft6OspAAAAAPzUig0dKLNYs_vMAup26vh9Kjzk"
      formControlName="recaptcha"></re-captcha>
    <button type="submit" class="btn btn-primary m-3">Log in</button>
  </div>
</form>
<a class="btn btn-outline-secondary m-3" (click)="passwordless()">Use Passwordless Login</a>
<a class="btn btn-outline-primary m-3" (click)="register()">Register</a>