<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center">
        <h2 style="font-size: 1.5rem;">Enter your new password here</h2>
        <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
          <div class="form-group mb-4">
            <div class="password-field">
              <input [type]="passwordFieldType" formControlName="newPassword" id="newPassword" class="form-control" required>
              <!-- Button to toggle password visibility -->
              <button type="button" class="btn btn-link password-toggle" (click)="togglePasswordVisibility()">{{ passwordToggleText }}</button>
            </div>
            <div *ngIf="changePasswordForm.get('newPassword').touched && changePasswordForm.get('newPassword').invalid">
              <small class="text-danger" *ngIf="changePasswordForm.get('newPassword').errors.required">New password is required.</small>
              <small class="text-danger" *ngIf="changePasswordForm.get('newPassword').errors.passwordInvalid">Password must be at least 16 characters long, contain uppercase and lowercase letters, a number, and a special character.</small>
            </div>
          </div>
          <h2 style="font-size: 1.5rem;">Confirm your new password</h2>
          <div class="form-group mb-4" [ngClass]="{'has-error': changePasswordForm.hasError('mustMatch')}">
            <div class="password-field">
              <input [type]="passwordFieldType" formControlName="newPasswordAgain" id="newPasswordAgain" class="form-control" required>
              <!-- Button to toggle password visibility -->
              <button type="button" class="btn btn-link password-toggle" (click)="togglePasswordVisibility()">{{ passwordToggleText }}</button>
            </div>
            <div *ngIf="changePasswordForm.get('newPasswordAgain').errors?.mustMatch" class="text-danger">Passwords do not match.</div>
          </div>
          <button type="submit" class="btn btn-primary rounded-pill btn-lg mt-3">Submit</button>
        </form>
      </div>
    </div>
  </div>
  